body{
    background:#020617;
    color:white;
    font-family:Arial;
}

.box{
    background:#0f172a;
    padding:25px;
    border-radius:15px;
    max-width:400px;
    margin:80px auto;
    box-shadow:0 0 30px black;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    background:#1e293b;
    color:white;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#22c55e;
    color:white;
    font-weight:bold;
}

button:hover{
    background:#16a34a;
}

.top{
    display:flex;
    justify-content:space-between;
    padding:15px;
}

a{
    color:#38bdf8;
    text-decoration:none;
}

.conta{
    background:#1e293b;
    padding:10px;
    border-radius:10px;
    margin:10px 0;
    display:flex;
    justify-content:space-between;
}