<!DOCTYPE html>
<html>
<head>
<title>Registrar</title>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
<h1>Criar Conta</h1>

<div class="card">
<form method="POST">
<input name="username" placeholder="Usuário">
<input name="senha" type="password" placeholder="Senha">
<button>Registrar</button>
</form>

{% if erro %}
<p style="color:red;">{{ erro }}</p>
{% endif %}
</div>

<a href="/login">Voltar</a>
</div>

</body>
</html>